.works {
    height: 100vh;
    width: 100vw;
    position: relative;
    .f2 {
        top: 0;
        right: 3%;
        height: 20%;
    }
    .f3 {
        bottom: 45px;
        right: 3%;
        height: 15%;
    }
    .f4 {
        bottom: 3%;
        right: 0;
        width: 92vw;
    }
    .f6 {
        bottom: 0;
        left: 3%;
        height: 3%;
    }
    .f7 {
        top: calc(4% + 96px);
        left: 3%;
        height: 60%;
    }
    .f8 {
        top: 0;
        left: 3%;
        height: 3.5%;
    }
}
.project-info {
    position: absolute;
    top: 7%;
    left: 50%;
    width: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    h4 {
        grid-column-start: 1;
    }
    p {
        font-family: $text;
        font-size: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

.cover-project {
    position: absolute;
    bottom: 14%;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
    height: 60%;
    background-image: url('{{ theme.link }}/src/Cover.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cover-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-number {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 50px;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
.box-color {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 23%;
    background-color: $transparent-color;
    button {
        width: 7vw;
        height: 5vh;
        background-color: $color-text;
        color: $bg-color;
        border: none;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

// MEDIA QUERY
@media (max-width: 1450px) {
    .cover-project {
        height: 55%;
        bottom: 17%;
    }
}

@media (max-width: 1300px) {
    .cover-project {
        height: 50%;
        bottom: 22%;
    }
}

@media (max-width: 1200px) {
    .cover-project {
        height: 45%;
        bottom: 25%;
    }
}

@media (max-width: 1090px) {
    .cover-project {
        height: 50%;
        width: 60%;
        bottom: 18%;
        right: 58%;
    }
}

@media (max-width: 950px) {
    .cover-project {
        height: 45%;
        width: 58%;
        bottom: 18%;
        right: 60%;
    }
}

@media (max-width: 750px) {
    .project-info {
        h4 {
            grid-column-start: 2;
        }
        p {
            font-size: 18px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .cover-project {
        width: 60%;
        height: 40%;
        right: 45%;
    }
}