@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/transfonter.org-montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Audiowide";
  src: url("Audiowide-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.home .f2 {
  top: 0;
  right: 3%;
  height: 20%;
}
.home .f3 {
  bottom: 0;
  right: 3%;
  height: 20%;
}
.home .f4 {
  bottom: 3%;
  left: 0;
  width: 100vw;
}
.home .f5 {
  bottom: 0;
  left: 3%;
  height: 5%;
}
.home .f6 {
  bottom: 0;
  left: 3%;
  height: 82%;
}
.home .f7 {
  top: 0;
  left: 3%;
  height: 3.5%;
}

.web-dev {
  position: fixed;
  top: 35%;
  left: 45%;
  font-size: 4vw;
  transform: translateX(-50%);
  width: 50%;
}

.headband {
  background-color: rgba(160, 164, 184, 0.7019607843);
  height: 200px;
  width: 750px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contact-title {
  font-size: 1.5rem;
  margin-top: 3vh;
  color: #efefef;
}

.contact {
  color: rgba(160, 164, 184, 0.7019607843);
}

#target {
  color: #b8bac8;
  margin-bottom: 3vh;
}

.contact .word:hover {
  color: rgba(36, 34, 34, 0.5019607843);
  mix-blend-mode: difference;
}

.icon ul {
  display: flex;
  gap: 7rem;
}
.icon ul li {
  list-style: none;
}
.icon ul li a {
  text-decoration: none;
  color: #242222;
  cursor: none;
}
.icon ul li i {
  font-size: 32px;
}

@media (max-width: 750px) {
  .headband {
    height: 175px;
    width: 100vw;
  }
  .icon ul {
    gap: 12vw;
  }
  .icon ul li i {
    font-size: 28px;
  }
  .web-dev {
    top: 40%;
    left: 30%;
    font-size: 3rem;
  }
  .home .f2 {
    height: 5%;
  }
  .home .f3 {
    height: 67%;
  }
}
@media (max-width: 570px) {
  .web-dev {
    top: 30%;
    left: 67%;
    bottom: 4%;
    writing-mode: vertical-rl;
    font-size: 8vw;
    transform: rotate(180deg);
  }
  .headband {
    width: 20%;
    height: 38%;
  }
  .headband .contact-title {
    display: none;
  }
  .headband .icon ul {
    flex-direction: column;
    gap: 2vh;
  }
}
.about {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.about .f2 {
  top: 0;
  right: 3%;
  height: 20%;
}
.about .f3 {
  bottom: 0;
  right: 3%;
  height: 20%;
}
.about .f4 {
  bottom: 3%;
  right: 0;
  width: 100vw;
}
.about .f6 {
  bottom: 0;
  left: 3%;
  height: 4%;
}
.about .f7 {
  top: 18%;
  left: 3%;
  height: 15%;
}
.about .f8 {
  top: 0;
  left: 3%;
  height: 3.5%;
}

.image {
  width: 700px;
  height: 25vh;
  background-color: #a0a4b8;
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

.info {
  position: fixed;
  bottom: 10%;
  left: 3%;
  width: 70vw;
}
.info p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 750px) {
  .about .f2 {
    height: 5%;
  }
  .about .f3 {
    height: 40%;
  }
  .about .f7 {
    top: 15%;
    height: 15%;
  }
  .image {
    width: 94vw;
    height: 25vh;
    background-color: #a0a4b8;
    position: fixed;
    top: 45%;
    left: 3%;
    transform: translateY(-50%);
  }
}
@media (max-width: 570px) {
  .info {
    bottom: 7%;
    width: 90vw;
  }
}
.works {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.works .f2 {
  top: 0;
  right: 3%;
  height: 20%;
}
.works .f3 {
  bottom: 0px;
  right: 3%;
  height: 21%;
}
.works .f4 {
  bottom: 3%;
  left: 0;
  width: 100vw;
}
.works .f6 {
  bottom: 0;
  left: 3%;
  height: 4%;
}
.works .f7 {
  top: calc(4% + 96px);
  left: 3%;
  height: 60%;
}
.works .f8 {
  top: 0;
  left: 3%;
  height: 3.5%;
}

.project-info {
  position: fixed;
  top: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: #242222;
}
.project-info h4 {
  grid-column-start: 1;
}
.project-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.cover {
  position: fixed;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 60%;
}

.cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-number {
  position: fixed;
  bottom: 5%;
  left: 2%;
  font-size: 50px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  color: #242222;
}

.box-color {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 23%;
  background-color: rgba(160, 164, 184, 0.7019607843);
  z-index: 20;
}
.box-color button {
  width: 7vw;
  height: 5vh;
  background-color: #242222;
  color: #efefef;
  border: none;
  position: fixed;
  z-index: 50;
}
.box-color .custom-next-button {
  bottom: 0;
  right: 0;
  border-left: 1px solid rgba(160, 164, 184, 0.7019607843);
}
.box-color .custom-prev-button {
  bottom: 0;
  right: 7vw;
}

.swiper-slide {
  width: 100vw;
}

@media (max-width: 750px) {
  .project-info h4 {
    grid-column-start: 2;
  }
  .project-info p {
    font-size: 18px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cover-project {
    width: 60%;
    height: 40%;
    right: 45%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
  color: #242222;
  font-family: "Audiowide", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: none;
  overflow: hidden;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efefef;
  width: 48px;
  height: 48px;
  z-index: 200;
  border-radius: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  mix-blend-mode: difference;
}

.logo {
  position: fixed;
  top: 4%;
  left: 3%;
  width: auto;
  z-index: 100;
}

.nav-bar {
  position: fixed;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  z-index: 1000;
}
.nav-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-end;
}
.nav-bar ul li {
  margin: 9vh 0;
  font-size: 32px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: rgba(36, 34, 34, 0.5019607843);
  cursor: none;
}
.nav-bar ul li a:hover {
  color: rgba(160, 164, 184, 0.7019607843);
}
.nav-bar ul li .current-menu-item {
  color: #242222;
}
.nav-bar ul li .current-menu-item:hover {
  color: #a0a4b8;
}

.frame {
  border: 1px solid #242222;
  position: fixed;
}

.f1 {
  top: 3%;
  left: 0;
  width: 100vw;
}

@media (max-width: 750px) {
  .nav-bar {
    top: 18%;
  }
  .nav-bar ul li {
    margin: 3vh 0;
    font-size: 28px;
    gap: 0;
  }
  .cursor {
    display: none;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100vw;
}

.swiper {
  width: 50%;
  height: 100dvh;
}
.swiper img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */