<section id="home" class="home">
  <div class="cit">
    <p>
      <em>
        "Do what you love, and you will never have to work
        <br />
        a single day of your life"
      </em>
    </p>
    <p>- Confucio</p>
  </div>
  <div class="icon">
    <ul>
      <li>
        <a href="https://www.instagram.com/yimeiwu_/"
          ><i class="fi fi-brands-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://x.com/_onlymeiii_"
          ><i class="fi fi-brands-twitter"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/yimei-wu"
          ><i class="fi fi-brands-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/yimei-wu-657ab42b1/"
          ><i class="fi fi-brands-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="mailto:wuyimei60@gmail.com"
          ><i class="fi fi-rr-envelope"></i
        ></a>
      </li>
    </ul>
  </div>
</section>