<section id="works" class="works hidden">
   <nav>
      <div class="nav-bar">
          <ul>
              <li><a href="http://yimei-wu.local/">HOME</a></li>
              <li><a href="http://yimei-wu.local/about/">ABOUT_ME</a></li>
              <li><a href="#works" class="active">WORKS</a></li>
          </ul>
      </div>
  </nav>
 {% include "single-work.twig" %}
 <div class="box-color">
 {% if work.next and next_post %} 
    <button><a href="http://yimei-wu.local/about/">&#8594</a></button>
 {% endif %}   
 </div>
    <div class="frame f2"></div>
    <div class="frame f3"></div>
    <div class="frame f4"></div>
    <div class="frame f6"></div>
    <div class="frame f7"></div>
    <div class="frame f8"></div>
</section>