{% extends "base.twig" %}
{% block content %}

   <div class="details">
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
      <div class="poster"><img src="{{ post.poster }}"></div>
   </div>  

{% endblock %}
